/* 通用CSS */

/*
CSS参考手册： http://www.css88.com/book/css/quicksearch.htm
CSS3参考手册：http://www.css88.com/book/css/css3-quicksearch.htm

   list-style-type：复合属性。设置列表项目相关内容 http://www.css88.com/book/css/properties/list/index.htm
   border-bottom：复合属性。设置对象边框的特性 http://www.css88.com/book/css/properties/border/index.htm
   text-align：外设置或检索对象中内容的水平对齐方式 http://www.css88.com/book/css/properties/text/index.htm
*/

/* 水平对齐方式 text-align */
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-inherit{text-align:inherit;}

.float-left{float: left;}
.float-right{float: right;}
.float-none{float: none;}
.float-inherit{float: inherit;}

.display-none{display: none;}
.display-block{display: block;}

    /*字体 font */
.fs-30{font-size: 30px;}
.fs-50{font-size: 50px;}
.fs-60{font-size: 60px;}
.font-chiller {font-family: 'Chiller';}
.font-consolas {font-family: 'Consolas';}
.font-WRYH {font-family: '微软雅黑';}
.font-HWCY {font-family: '华文彩云';}

/*左侧导航栏 left navigation */
.left-navigation {

}

/*外边距 margin*/
.mt5   {margin-top: 5px;}
.mt-10  {margin-top: 10px;}
.mt-15  {margin-top: 15px;}
.mt-20  {margin-top: 20px;}
.mt-25  {margin-top: 25px;}

.ml-a   {margin-left: auto;}
.ml5   {margin-left: 5px;}
.ml-10  {margin-left: 10px;}
.ml-15  {margin-left: 15px;}
.ml-20  {margin-left: 20px;}
.ml-45-p {margin-left: 45%;}

/*内边距 padding*/
.pt5   {padding-top: 5px;}
.pt-10  {padding-top: 10px;}
.pt-15  {padding-top: 15px;}
.pt-25  {padding-top: 25px;}
.pt-30  {padding-top: 30px;}
.pt-5-p  {padding-top: 5%;}

.pl5   {padding-left: 5px;}
.pl-10  {padding-left: 10px;}
.pl-15  {padding-left: 15px;}
.pl-25  {padding-left: 25px;}
.pl-30  {padding-left: 30px;}
.pl-80  {padding-left: 80px;}
.pl-100 {padding-left: 100px;}
.pl-120 {padding-left: 120px;}
.pl-150 {padding-left: 150px;}
.pl-30-p   {padding-left: 30%;}
.pl-40-p   {padding-left: 40%;}
.pl-45-p   {padding-left: 45%;}

.pr-10  {padding-right: 10px;}
.pb-25{padding-bottom: 25px;}

.w-50-p{width: 50%}
.w-99-p{width: 99.2%}
.w-100-p{width: 100%}


.h-100-p{height: 100%}


/*颜色 color*/
